@import 'src/assets/styles/variables';
.button {
  font-size: $mini-font-size;
  font-weight: bold;
  border-radius: $mini-radius;
  padding: $medium-padding $semi-large-padding;
}

.primary {
  background-color: $primary-color;
  color: $white;
}

.accent {
  background-color: $white;
  color: $primary-color;
  border: 1px solid $primary-color;
}
